<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- Docs -->
    <table>
	<% for(var i=0; i < all.length; i++) {%>
	   <tr>
	   	
	   	<td>
	   		<!-- Year -->
	   		<%= all[i].YEAR %>
	   	</td>
	   	
	   	<td>
	   		<!-- Name -->
	   		<%= all[i].NAME %>
	   	</td>

	   	<td>
	   		<!-- CAT1 -->
	   		<%= all[i].CAT1 %>
	   	</td>
	   	
	   </tr>
	<% } %>
	</table>
	<!-- End Docs -->

  </body>
</html>